body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    background-color: #9d7a18;
    color: #2c3e50;
    margin: 20px;
}
h1 {
    color: #4e6303;
    text-align: center;
}
p {
    font-size: 18px;
    text-align: center;